@charset "UTF-8";

*{
	margin:0;
	padding:0;
}
.cen{
	font-weight:normal;
}
.form_info li label{
	align:left;
}
li{
	list-style:none;
}
.shareBox{
	width:960px;
	margin:0 auto;
}
.form_info{
	width:100%;
	text-align: center;
}
.form_info input{
	width:252px;
	height:30px;
	line-height:30px;
	color:#4a230b;
	border-radius:5px;
	border:none;
	border:solid 1px #18a8b7;
}
.form_info li{
	margin:15px 0;
}
.btn{
	width:;
	border-radius:5px;
	background:#3cb7ff;
	color:#fff !important;
	border:none;
	margin-left: 65px;
}

